.navCss{
    border-bottom: 2px solid rgb(207, 207, 207);
    background: transparent;
}

.nav-btn{
    border-radius: 50px;
    background: #5740FC;
    font-size: 14px;
    margin-left: 10px;
    color: #fff;
}
.profile{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background: #5740FC;
    border-radius: 50%;
}