:root{
  /* brand colors */
  --gossamer: #0b9c6c;
--green-haze: #049464;
--caribbean-green: #04c484;
--caribbean-green: #04bf7c;
--green-haze: #04ac6c;
--jade: #04b474;
--jade: #04ac74;
--niagara: #0cc084;
--caribbean-green: #04c884;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
